# Задание 1

Создайте произвольный список длиной 5 с данными целочисленного типа (числа от 0 до 100). Измените этот список так, что те числа, которые больше 50 - должны увеличиться на 100, а остальные - возвестись в квадрат.

Примечание: С применением List comprehension и условием внутри

In [ ]:
nums = [1, 25, 50, 75, 100]
arr_list = [n + 100 if n>50 else n ** 2 for n in nums]

print(nums)
print(arr_list)

[1, 25, 50, 75, 100]
[1, 625, 2500, 175, 200]

# Задание 2

Создайте список с вложенными списками и преобразуйте в словарь, чтобы получилось:

```
id1:
    name: ....
    age: ....
id2:
    name: ....
    age: ....
id3:
    name: ....
    age: ....
```
Выведите с помощью цикла на экран:

1. Все имена пользователей
2. Средний возраст

In [ ]:
import pprint

user_list = [
    ['id1', [['name', 'Саша'], ['age', 14]]],
    ['id2', [['name', 'Петя'], ['age', 18]]],
    ['id3', [['name', 'Вася'], ['age', 15]]],
    ['id4', [['name', 'Сережа'], ['age', 21]]],
]

user_dict = {user[0]: dict(user[1]) for user in user_list}
pprint.pprint(user_dict)

{'id1': {'age': 14, 'name': 'Саша'},
 'id2': {'age': 18, 'name': 'Петя'},
 'id3': {'age': 15, 'name': 'Вася'},
 'id4': {'age': 21, 'name': 'Сережа'}}

In [ ]:
print('Все имена:', *[user['name'] for user in user_dict.values()])

Все имена: Саша Петя Вася Сережа

In [ ]:
avg = sum(user['age'] for user in user_dict.values()) / len(user_dict);
print('Средний возраст:', avg)

Средний возраст: 17.0